.chat-view {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    min-height: 100%;
    .message {
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        text-align: start;
        strong {
            font-size: large;
        }
        p {
            font-size: large;
        }
        i {
            font-size: small;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
