.chat-view {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    min-height: 100%;
    .message {
        padding: 1rem;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5);
        text-align: start;
        strong {
            font-size: large;
        }
        p {
            font-size: large;
        }
        i {
            font-size: small;
            color: rgba(255, 255, 255, 0.5);
        }
    }

    .delete-button {
        position: fixed;
        top: 5rem;
        left: 0;
        right: 0;
        margin: 0 1rem;
        color: rgb(224, 111, 111);
        background-color: rgba(81, 83, 120, 0.5);
        box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
    }
}
