.new-channel {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    label {
        font-size: larger;
        font-weight: 400;
    }

    .checkbox {
        display: flex;
        gap: 0.5rem;
        align-items: center;
        justify-content: center;
    }
}