header {
    position: fixed;
    top: 0;
    background-color: #515378;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.5rem;
    z-index: 10;

    button {
        padding: 0;
        box-shadow: none;
    }

    button:disabled {
        box-shadow: none;
    }

    button:hover {
        transform: none;
        box-shadow: none;
    }
}
