.message-input {
    background-color: #414368;
    display: flex;
    justify-content: space-around;
    gap: 0.5rem;
    position: fixed;
    bottom: 0;
    padding: 0.5rem;
    width: 100%;
    button {
        background-color: #9ca15b;
        border-radius: 40px;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: none;
    }

    button:hover {
        transform: none;
    }
    textarea {
        font-weight: 500;
        border-radius: 10px;
        padding: 0.5rem;
        border: none;
        font-size: medium;
        font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    }
}
