#root {
    text-align: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #2d2f46;
    min-height: 100vh;
}

button {
    color: white;
    border: none;
    border-radius: 10px;
    padding: 1rem;
    font-size: larger;
    background-color: #515378;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    font-family: "Mohave", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

button:hover {
    transform: translateY(4px);
    box-shadow: inset 0px 1px 0px 0px rgba(0, 0, 0, 0.5);
}

button:disabled {
    color: rgba(255, 255, 255, 0.3);
    transform: none;
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.5);
    cursor: default;
}

input {
    padding: 1rem;
    border-radius: 10px;
    border: none;
    font-size: large;
}

.container {
    width: 100%;
    border-radius: 10px;
    background-color: #414368;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
